* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
.container {
  display: grid;
  background-color: #242424;
  grid-template-columns: 75% auto;
  padding: 3px;
  column-gap: 1px;
}
.calc__body {
  display: grid;
  grid-template-rows: 30% 1fr;
  color: white;
  text-align: end;
}
.calc__display {
  display: grid;
  grid-template-rows: 50px 1fr;
  padding: 10px 20px 10px 10px;
}
.input {
  font-size: 30px;
  font-weight: lighter;
}
.ans {
  font-size: 2rem;
}
.operations {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 2px;
  margin-top: 5px;
  color: #fff;
  background-color: rgb(26, 25, 25);
}
.row_1,
.row_2,
.row_3,
.row_4,
.row_5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 160%;
  gap: 2px;
}
.btn {
  text-align: center;
  padding: 7px 3px;
  background-color: #1e1d1d;
  transition: all 0.4s;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 5px #333;
}
.num {
  background-color: #040404;
}
.btn:hover {
  background-color: #333;
}
.ope:hover {
  background-color: rgb(8, 81, 238);
}
.history__section {
  display: grid;
  grid-template-rows: 30px 1fr;
  gap: 10px;
  border-left: 2px solid #5f5f5f;
  color: white;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-y: scroll;
}
.title {
  font-weight: bold;
  border-bottom: 2px solid #5f5f5f;
  text-align: center;
  letter-spacing: 1px;
  padding: 5px;
}
.intro,
.intro2 {
  text-align: center;
  font-size: 13px;
  padding: 3px;
}
.zero.active {
  display: none;
}
.history {
  padding: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ac {
  transition: all 0.4s;
  font-weight: bold;
  font-family: cursive;
}
.ac:hover {
  color: red;
}
.math {
  transition: all 0.4s;
  font-family: cursive;
}
.math:hover {
  color: rgb(8, 81, 238);
}
.small {
  color: #5f5f5f;
  font-size: 85%;
}
.svg {
  width: 1.5em;
  position: fixed;
  z-index: 100;
  cursor: pointer;
  right: 2em;
  bottom: 15px;
  color: white;
  transform: scale(1.5);
}
.hiddenTrash {
  display: none;
}
.intro2.act {
  display: none;
}
.bi-backspace {
  color: red;
  transform: scale(1.5);
  cursor: pointer;
}
.history div{
 padding: 5px;
}
.history div:hover{
    cursor: pointer;
    background-color: #333;
}

.times{
    display: none;
}
@media screen and (max-width: 850px) {
  .container {
    grid-template-columns: 1fr;
    height: 100vh;
    padding: 0;
  }
  .calc__display {
    overflow: scroll;
  }
  .history div {
    font-size: 20px;
  }
  .history {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .history__section {
    position: absolute;
    grid-template-rows: 60px 1fr;
    width: 0;
    height: 100%;
    border-right: 2px solid #5f5f5f;
    border-top: 2px solid #5f5f5f;
    gap: 10px;
    top: 0%;
    background-color: #242424;
    box-shadow: -1px -3px 9px 1px #1e1d1d;
    transition: all 0.7s;
  }
  .title {
    padding: 10px;
    font-size: 130%;
    min-height: 20px;
  }
  .intro,
  .intro2 {
    font-size: inherit;
  }
  .history__section.active {
  width: 100%;
  }
  .svg{
    position: absolute;
  }
  .btn {
    padding: 5px 3px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn:hover {
    background-color: unset;
  }
  .ope:hover {
    background-color: unset;
  }
  .cross101 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .times{
    font-size: 35px;
    display: block;
  }
}
